[submodule "taxonomy"]
	path = Chapters/taxonomy
	url = https://github.com/artinmajdi/taxonomy-paper.git
[submodule "crowd"]
	path = Chapters/crowd
	url = https://github.com/artinmajdi/crowd-paper.git
[submodule "drive_net"]
	path = Chapters/drive_net
	url = https://github.com/artinmajdi/Drive-Net.git
[submodule "thalamus"]
	path = Chapters/thalamus
	url = https://github.com/artinmajdi/thalamus-paper.git
[submodule "main_code"]
	path = other/code
	url = https://github.com/artinmajdi/chest.git
[submodule "overleaf"]
	path = overleaf_thesis
	url = ./overleaf
[submodule "overleaf_thesis"]
	path = overleaf_thesis
	url = https://git.overleaf.com/646e84f7c5159063a039ad01
