[submodule "main/submodules/torchxrayvision"]
	path = main/submodules/torchxrayvision
	url = https://github.com/artinmajdi/torchxrayvision.git
[submodule "main/submodules/mkdocs-material"]
	path = main/submodules/mkdocs-material
	url = https://github.com/artinmajdi/mkdocs-material.git
[submodule "main/aims/aim1_3_soft_weighted_mv/crowd-paper"]
	path = main/aims/aim1_3_soft_weighted_mv/crowd-paper
	url = https://github.com/artinmajdi/crowd-paper.git
[submodule "main/aims/aim1_1_taxonomy/taxonomy-paper"]
	path = main/aims/aim1_1_taxonomy/taxonomy-paper
	url = https://github.com/artinmajdi/taxonomy-paper.git
