[flake8]
ignore =
    E111,  # Indentation is not a multiple of four
    E114,  # Indentation is not a multiple of four (comment)
    E115,  # Expected an indented block (comment)
    E116,  # Unexpected indentation (comment)
    E126
    E128,  # Continuation line under-indented for visual indent
    E201,  # Whitespace after '('
    E202,  # Whitespace before ')'
    E203,  # Whitespace before ':'
    E221,  # Multiple spaces before operator
    E223,  # Tab before operator
    E251,  # Unexpected spaces around keyword / parameter equals
    E252,  # Missing whitespace around parameter equals
    E255,  # Missing whitespace around operator
    E261,  # At least two spaces before inline comment
    E272,  # Multiple spaces before keyword
    E501, # Line too long
    E252, # Missing whitespace around parameter equals
    E701, # Multiple statements on one line (colon)
    W291,  # Trailing whitespace
    W293,  # Blank line contains whitespace
    E303,  # Too many blank lines
    W391,  # Blank line at end of file
    W191,  # Indentation contains tabs
