mlflow~=1.12.1
pysftp==0.2.9
psycopg2==2.8.5
# tensorflow>=2.7.0
setuptools~=65.5.0
libauc~=1.2.0
# torchvision==0.14.0
torchxrayvision~=0.0.38
gitpython

crowd-kit
scipy
ipywidgets
joblib
tensorflow-datasets
scikit-image
pandas
requests
imageio
seaborn
numpy
opencv-python
pillow
scikit-learn
wget
tqdm
# statsmodels
sqlalchemy


torch>=1
torchvision>=0.5
scikit-image>=0.16
tqdm>=4
numpy>=1
pandas>=1
requests>=1
pillow>=5.3.0
